.friend-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    margin: 15px 0;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.friend-info {
    display: flex;
    align-items: center;
}

.friend-text {
    display: flex;
    flex-direction: column;
    margin-right: 330px;
}

.friend-text h3
{
    font-size: large;
    margin: 2px 0;
    color: var(--font-color);
}
.friend-text p {
    margin: 2px 0;
    color: var(--font-color);
    font-size: smaller;
}

.friend-card img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.friend-info button {
    padding: 3px 10px;
    background-color: #f41f18;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.friend-list h2 {
    font-size: 24px;
    color: var(--font-color);
}